<!DOCTYPE html>
<html>
<head>
<title>Savings Goal</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="form-container">
<h1>🏆 Savings Goal</h1>
<form method="POST">
<input
name="goal"
placeholder="Goal name"
required>
<input
name="target"
type="number"
placeholder="Target amount"
required>
<input
name="saved"
type="number"
placeholder="Saved amount"
required>
<button class="save-btn">
Save Goal
</button>
<a href="/">
Back Dashboard
</a>
</form>
</div>
</body>
</html>